@namespace Hearth.Finances.Parts
@using Hearth.Icons
@using Hearth.Models

@* AssetPage.razor *@

@if (Assets.Count() == 0)
{
	<div class="no-loan">
		<div class="nl-check">
			<IconCheckCircle Size="80" />
		</div>
		<div class="nl-text">
			No Assets...
		</div>
	</div>
}
else if (Assets.Count() >= 1)
{
	@if (IsSmall == true)
	{
		<div class="loan-panel">
			@* Loan Type and Toast *@
			<div class="lp-header">
				<div class="lp-h-header">
					@switch (CurrentAsset.Asset_Type)
					{
						case ASSET_TYPE.Property:
							<span class="lp-h-h-icon">
								<IconHome Size=30 />
							</span>
							<span>Property</span>
							break;
						case ASSET_TYPE.Vehicle:
							<span class="lp-h-h-icon">
								<IconCar Size=30 />
							</span>
							<span>Vehicle</span>
							break;
						case ASSET_TYPE.Stock:
							<span class="lp-h-h-icon">
								<IconStock Size=30 />
							</span>
							<span>Stock</span>
							break;
						case ASSET_TYPE.Bond:
							<span class="lp-h-h-icon">
								<IconBond Size=30 />
							</span>
							<span>Bond</span>
							break;
						case ASSET_TYPE.Cryptocurrency:
							<span class="lp-h-h-icon">
								<IconBitcoin Size=30 />
							</span>
							<span>Crypto</span>
							break;
						case ASSET_TYPE.Collectible:
							<span class="lp-h-h-icon">
								<IconCollectable Size=30 />
							</span>
							<span>Collectible</span>
							break;
						case ASSET_TYPE.Other:
							<span class="lp-h-h-icon">
								<IconBox Size=30 />
							</span>
							<span>Other</span>
							break;
						default:
							<span class="lp-h-h-icon">
								<IconBox Size=30 />
							</span>
							<span>Other</span>
							break;
					}
				</div>
			</div>
			@* Asset Name and Value (I changed the classes for these divs because the design is very different) *@
			<div class="a-body-small">
				<button disabled=@(Assets.Count <= 1 || currentIndex == 0) class="arrow-btn" @onclick="PreviousLoan"> <IconCaret Direction="l" Size="30" /> </button>
				<div class="a-b-body-top">
					<h2 class="a-b-b-header">
						@CurrentAsset.Name
					</h2>
					<div class="a-b-b-payment">
						@CurrentAsset.Evaluated_Current_Price_C.ToString("C0")
					</div>
					<div class="a-b-b-purchase-price">
						@CurrentAsset.Purchase_Price.ToString("C0")
					</div>
				</div>
				<div class="a-b-body-bottom">
					@if (CurrentAsset.Is_Appreciating_C)
					{
						<h2 class="a-b-b-header-small">
							Appreciating
						</h2>
						<div class="a-b-b-expected-rate-small">
							@CurrentAsset.Expected_Growth_Or_Decay.ToString("P2")
						</div>
						<div class="value-change-per-month">
							@CurrentAsset.Value_Change_Per_Year_C.ToString("C0")
						</div>
					}
					else
					{
						<h2 class="a-b-b-header">
							Depreciating
						</h2>
						<div class="a-b-b-expected-rate" style="color: var(--error-color)">
							@Math.Abs(CurrentAsset.Expected_Growth_Or_Decay).ToString("P2")
						</div>
						<div class="value-change-per-month" style="color: var(--error-color)">
							@Math.Abs(CurrentAsset.Value_Change_Per_Year_C).ToString("C0")
						</div>
					}
				</div>
				<button disabled=@(Assets.Count <= 1 || currentIndex == (Assets.Count - 1)) class="arrow-btn" @onclick="NextLoan"> <IconCaret Direction="r" Size="30" /> </button>
			</div>
		</div>
	}
	else
	{
		<div class="loan-panel">
			@* Loan Type and Toast *@
			<div class="lp-header">
				<div class="lp-h-header">
					@switch (CurrentAsset.Asset_Type)
					{
						case ASSET_TYPE.Property:
							<span class="lp-h-h-icon">
								<IconHome Size=30 />
							</span>
							<span>Property</span>
							break;
						case ASSET_TYPE.Vehicle:
							<span class="lp-h-h-icon">
								<IconCar Size=30 />
							</span>
							<span>Vehicle</span>
							break;
						case ASSET_TYPE.Stock:
							<span class="lp-h-h-icon">
								<IconStock Size=30 />
							</span>
							<span>Stock</span>
							break;
						case ASSET_TYPE.Bond:
							<span class="lp-h-h-icon">
								<IconBond Size=30 />
							</span>
							<span>Bond</span>
							break;
						case ASSET_TYPE.Cryptocurrency:
							<span class="lp-h-h-icon">
								<IconBitcoin Size=30 />
							</span>
							<span>Crypto</span>
							break;
						case ASSET_TYPE.Collectible:
							<span class="lp-h-h-icon">
								<IconCollectable Size=30 />
							</span>
							<span>Collectible</span>
							break;
						case ASSET_TYPE.Other:
							<span class="lp-h-h-icon">
								<IconBox Size=30 />
							</span>
							<span>Other</span>
							break;
						default:
							<span class="lp-h-h-icon">
								<IconBox Size=30 />
							</span>
							<span>Other</span>
							break;
					}
				</div>
			</div>
			@* Asset Name and Value (I changed the classes for these divs because the design is very different) *@
			<div class="a-body">
				<button disabled=@(Assets.Count <= 1 || currentIndex == 0) class="arrow-btn" @onclick="PreviousLoan"> <IconCaret Direction="l" Size="30" /> </button>
				<div class="a-b-body-left">
					<h2 class="a-b-b-header">
						@CurrentAsset.Name
					</h2>
					<div class="a-b-b-payment">
						@CurrentAsset.Evaluated_Current_Price_C.ToString("C0")
					</div>
					<div class="a-b-b-purchase-price">
						@CurrentAsset.Purchase_Price.ToString("C0")
					</div>
				</div>
				<div class="a-b-body-right">
					@if(CurrentAsset.Is_Appreciating_C)
					{
						<h2 class="a-b-b-header">
							Appreciating
						</h2>
						<div class="a-b-b-expected-rate">
							@CurrentAsset.Expected_Growth_Or_Decay.ToString("P2")
						</div>
						<div class="value-change-per-month">
							@CurrentAsset.Value_Change_Per_Year_C.ToString("C0")
						</div>
					}
					else
					{
						<h2 class="a-b-b-header">
							Depreciating
						</h2>
						<div class="a-b-b-expected-rate" style="color: var(--error-color)">
							@Math.Abs(CurrentAsset.Expected_Growth_Or_Decay).ToString("P2")
						</div>
						<div class="value-change-per-month" style="color: var(--error-color)">
							@Math.Abs(CurrentAsset.Value_Change_Per_Year_C).ToString("C0")
						</div>
					}
				</div>
				<button disabled=@(Assets.Count <= 1 || currentIndex == (Assets.Count - 1)) class="arrow-btn" @onclick="NextLoan"> <IconCaret Direction="r" Size="30" /> </button>
			</div>
		</div>
	}
}

@code {
	[Parameter] public List<Asset> Assets { get; set; } = new();
	[Parameter] public bool IsSmall { get; set; } = false;

	private int currentIndex = 0;

	private Asset CurrentAsset => Assets[currentIndex];

	private void NextLoan()
	{
		if (Assets.Count > 0)
		{
			currentIndex = (currentIndex + 1) % Assets.Count;
		}
	}

	private void PreviousLoan()
	{
		if (Assets.Count > 0)
		{
			currentIndex = (currentIndex - 1 + Assets.Count) % Assets.Count;
		}
	}
}