@namespace Hearth.Finances.Parts
@using Hearth.Services
@using Hearth.Models
@using Hearth.Parts
@using Hearth.Data
@using Hearth.Icons
@inject HearthDbContext _dbContext

@* AddEditLoanModal *@

<div>
    <HearthModal Title="@(Edit ? ("Edit Loan") : ("Add Loan"))"
                 Open="@ShowModal"
                 OnClose="@CloseModal"
                 Width="normal">
        <div class="main">
            <div class="section-1">
                <div class="s1-header">
                    <div class="s1-h-name-and-type">
                        <div class="s1-input-name">
                            <HearthInput Type="text" Label="Name" @bind-Value="inputName" />
                        </div>
                        <div class="s1-input-type">
                            <HearthDropdown Data="@(LoanUtils.loanTypes)" Label="Type" @bind-Value="@inputLoanType" />
                        </div>
                    </div>
                    <div class="s1-input-description">
                        <HearthInput Type="text" Label="Description" @bind-Value="inputDescription" />
                    </div>
                </div>
                @* -------------------- Loan -------------------- *@
                <div class="hearth-modal-section-header header-tertiary">
                    Loan
                </div>
                <div class="s1-body">
                    <div class="s1-input-principal">
                        <HearthInput Placeholder="340000" Type="number" Label="Principal" Border=false Panels=true @bind-Value="inputPrincipal" Icon="USD" />
                    </div>
                    <div class="s1-at">at</div>
                    <div class="s1-input-interest">
                        <HearthInput Placeholder="4.89" Type="number" Label="Interest" Border=false Panels=true @bind-Value="inputInterest" Icon="%" IconAtEnd=true />
                    </div>
                    <div class="s1-for">for</div>
					<div class="s1-input-term">
                        <HearthInput Placeholder="360" Type="number" Label="Term (months)" Border=false Panels=true @bind-Value="inputTerm" />
                    </div>
                </div>
                <div class="s1-advanced-options" hidden> @* TODO Unhide and Implement *@
                    Advanced options
                </div>
                <div class="s1-footer">
                    <div class="s1-f-due">
                        <div class="s1-due">
						    <HearthInput Type="date" Label="Due Date" @bind-Value="inputDueDate" />
                        </div>
                    </div>
                    <div class="s1-f-add-and-due">
                        <div class="s1-input-active">
						    <HearthCheckbox Label="Active" Editable=true @bind-Value="inputActive" />
                        </div>
                        @if (Edit)
                        {
                            <HearthButton Label="Update" BgColor="green" OnClick="HandleUpdate" />
                        }
                        else
                        {
                            <HearthButton Label="Add" BgColor="blue" OnClick="HandleAdd" />
                        }
                    </div>
                </div>
            </div>
            <div class="section-2">
            </div>
        </div>
    </HearthModal>
</div>

@code {
    // bound value
    [Parameter] public bool ShowModal { get; set; }

    // event for two-way binding
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }
    // If null, the modal goes into "Add" mode
    [Parameter] public Loan? LoanToEdit { get; set; }
    public bool Edit
    {
        get
        {
            if (LoanToEdit != null) return true;
            else return false;
        }
    }
    // -------------- < Input Variables > --------------
    private string inputName = string.Empty;
    private string inputDescription = string.Empty;
    private string inputLoanType = string.Empty;
    private string inputPrincipal = string.Empty;
    private string inputInterest = string.Empty;
    private string inputTerm = string.Empty;
    private string inputDueDate = DateTime.Now.ToString();
    private bool inputActive = true;
    // -------------- < Input Variables /> --------------

    // This needs to be changed at somepoint for optimization
    protected override void OnParametersSet()
    {
        if (LoanToEdit != null)
        {
            inputName = LoanToEdit.Name ?? string.Empty;
            inputDescription = LoanToEdit.Description ?? string.Empty;
            inputLoanType = LoanUtils.LoanTypeToString(LoanToEdit.Loan_Type);
            inputPrincipal = LoanToEdit.Principal.ToString();
            inputInterest = (LoanToEdit.Interest_Rate * 100).ToString();
            inputTerm = LoanToEdit.Term.ToString();
            inputDueDate = LoanToEdit.Due_Date.Value.Date.ToString("yyyy-MM-dd");
            inputActive = LoanToEdit.Active;
        }
    }

    private async Task CloseModal()
    {
        // update our state
        ShowModal = false;

        // notify parent (triggers @bind-ShowModal)
        await ShowModalChanged.InvokeAsync(ShowModal);
    }

    private async void HandleAdd()
    {

        LOAN_TYPE loan_type = LoanUtils.StringToLoanType(inputLoanType);

        Loan loan = new()
        {
            Name = inputName,
            Description = inputDescription,
			Loan_Type = loan_type,
            Principal = decimal.TryParse(inputPrincipal, out decimal principal) ? principal : 0,
            Interest_Rate = decimal.TryParse(inputInterest, out decimal interest) ? (interest / 100) : 0,
			Term = int.TryParse(inputTerm, out int term) ? term : 0,
			Due_Date = DateTime.TryParse(inputDueDate, out DateTime dueDate) ? dueDate : DateTime.Now,
			Active = inputActive
        };

        LoanFunctions.Add(_dbContext, loan);

        await CloseModal();
        return;
    }

    private async void HandleUpdate()
    {
        LOAN_TYPE loan_type = LoanUtils.StringToLoanType(inputLoanType);

        if (LoanToEdit != null)
        {
            Loan updates = new()
            {
            Name = inputName,
            Description = inputDescription,
			Loan_Type = loan_type,
            Principal = decimal.TryParse(inputPrincipal, out decimal principal) ? principal : 0,
            Interest_Rate = decimal.TryParse(inputInterest, out decimal interest) ? (interest / 100) : 0,
			Term = int.TryParse(inputTerm, out int term) ? term : 0,
			Due_Date = DateTime.TryParse(inputDueDate, out DateTime dueDate) ? dueDate : DateTime.Now,
			Active = inputActive
            };
            LoanFunctions.Update(_dbContext, LoanToEdit.Id, updates);

            await CloseModal();
        }

        return;
    }

}