@page "/finances/debts"
@using Hearth.Data
@using Hearth.Models
@using Hearth.Models.CTO
@using Hearth.Services
@using Hearth.Icons
@using Hearth.Finances.Parts
@using ApexCharts
@inject HearthDbContext _dbContext

<main class="debt-main">
	<section class="debt-section-1">
		<div class="d-s1-grid-container">
			@* Mortgage *@
			<div class="d-s1-panel panel-hearth" style="grid-area: mt">
				<LoanPanel Loans="@mortgages"/>
			</div>
			@* Car Loan *@
			<div class="d-s1-panel panel-hearth" style="grid-area: cl">
				<LoanPanel Loans="@carLoans" />
			</div>
			@* Other Loan 1 (Student) *@
			<div class="d-s1-panel panel-hearth" style="grid-area: o1">
				<LoanPanel IsSmall=true Loans="@studentLoans" />
			</div>
			@* Other Loan 2 *@
			<div class="d-s1-panel panel-hearth" style="grid-area: o2">
				<LoanPanel IsSmall=true Loans="@otherLoans" />
			</div>
			@* Payments *@
			<div class="d-s1-panel" style="grid-area: pm">
				<LoanUpcomingPaymentsView Loans="@allLoans" />
			</div>
			@* Loan Graph *@
			<div class="d-s2-panel" style="grid-area: grph">
				<InterestRepaymentGraph Loans="@mortgages" />
			</div>
		</div>
	</section>
</main>

@code {
	private List<Loan> allLoans = new List<Loan>();
	private List<Loan> mortgages = new List<Loan>();
	private List<Loan> carLoans = new List<Loan>();
	private List<Loan> studentLoans = new List<Loan>();
	private List<Loan> otherLoans = new List<Loan>();

	protected override async Task OnInitializedAsync()
	{
		allLoans = _dbContext.Loans.ToList();

		mortgages = allLoans
			.Where(m => m.Loan_Type == LOAN_TYPE.Mortgage)
			.ToList();

		carLoans = allLoans
			.Where(c => c.Loan_Type == LOAN_TYPE.Car_Loan)
			.ToList();

		studentLoans = allLoans
			.Where(sl => sl.Loan_Type == LOAN_TYPE.Student_Loan)
			.ToList();

		otherLoans = allLoans
			.Where(o => o.Loan_Type != LOAN_TYPE.Mortgage && o.Loan_Type != LOAN_TYPE.Car_Loan && o.Loan_Type != LOAN_TYPE.Student_Loan)
			.ToList();
	}
}

